html, body {
  height: 100%;
  width: 100%;
  margin: 0!important;
  overflow-y: hidden;
}

body{
  background: #10121E;
}

.wrapper {
  height: 72vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  color: #FFFFFF;
  width: 14ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 4em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.chat blockquote {
  font-family: 'Lato', sans-serif;
  font-size: 120px;
  font-weight: 700;
  letter-spacing: 0.07em;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  padding: 3.5% 15%;
  border-radius: 2ex/1em;
  position: relative;
  margin-bottom: 8%;
}


blockquote:last-child::before {
  display: block;
  position: absolute;
  z-index: -999;
  border: 1ex solid transparent;
  bottom: 0;
  border-radius: 1em/1ex;
}

.chat .them blockquote { background-color: #FFFFFF; }
.chat .them blockquote:last-child::before {
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
  left: -0.3ex;
  content: "";
}

.startBtn{
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  font-size: 25px;
  margin-top: -5%;
  margin-bottom: 2%;
}

.aboutBtn{
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  font-size: 25px;
}

.startBtn a{
  text-decoration: none;
  color: #FFFFFF;
}

.startBtn a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.aboutBtn a{
  text-decoration: none;
  color: #FFFFFF;
}

.aboutBtn a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

