html, body {
  height: 100%;
  width: 100%;
  margin: 0!important;
  /*overflow-y: hidden;*/
}

body{
  background: #10121E;
}

.wrapper {
  height: 72vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  color: #FFFFFF;
  width: 14ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.startBtn{
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  font-size: 27px;
  margin-top: -5%;
  margin-bottom: 2%;
}

.startBtn a{
  text-decoration: none;
  color: #FFFFFF;
}

.startBtn a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.aboutBtn{
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  font-size: 27px;
}

.aboutBtn a{
  text-decoration: none;
  color: #FFFFFF;
}

.aboutBtn a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.chat blockquote {
  font-family: monospace;
  font-size: 60px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 60%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: 6%;
}

.chat2 blockquote {
  font-family: monospace;
  font-size: 60px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 52%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: 6%;
}

.chat3 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 40%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: -3%;
}

.chat4 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 45%;
  display: flex;
  justify-content: center;
  padding: 2% 4%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: 3%;
}

.chat5 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 45%;
  display: flex;
  justify-content: center;
  padding: 2% 4%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: -3%;
}

.chat6 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 40%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: -3%;
}

.chat7 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 67%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: -3%;
}

.chat8 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 48%;
  display: flex;
  justify-content: center;
  padding: 2% 4%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: -3%;
}

.chat9 blockquote {
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 60%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 2ex/1em;
  position: relative;
  margin-top: 4%;
  margin-bottom: -3%;
}

blockquote:last-child::before {
  display: block;
  position: absolute;
  z-index: -999;
  border: 1ex solid transparent;
  bottom: 0;
  border-radius: 1em/1ex;
}

.chat .them blockquote { background-color: #FFFFFF; }
.chat .them blockquote:last-child::before {
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
  left: -0.3ex;
  content: "";
}

.chat2 .them blockquote { background-color: #FFFFFF; }
.chat2 .them blockquote:last-child::before {
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
  left: -0.3ex;
  content: "";
}

.chat3 .them blockquote { background-color: #FFFFFF; }
.chat3 .them blockquote:last-child::before {
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
  left: -0.3ex;
  content: "";
}

.chat4 .them blockquote { background-color: #FFFFFF; }
.chat4 .them blockquote:last-child::before {
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
  left: -0.3ex;
  content: "";
}

.chat5 .them blockquote { background-color: #FFFFFF; }

.chat6 .them blockquote { background-color: #FFFFFF; }

.chat7 .them blockquote { background-color: #FFFFFF; }

.chat8 .them blockquote { background-color: #FFFFFF; }

.chat9 .them blockquote { background-color: #FFFFFF; }

.textOptions{
  text-align: center;
  font-family: monospace;
  padding-top: 8%;
}

.textOptions a{
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 27px;
}

/* trying to align button in center */
.alignOptions{
  text-align: center;
  font-family: monospace;
  padding-top: 8%;
}

.alignOptions a{
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 27px;
}

.firstBtn{
  margin-bottom: 2%;
  background-color: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 1em/2ex;
}

.secondBtn{
  background-color: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 1em/2ex;
  margin-bottom: 2%;
}

.centerBtn{
  background-color: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 1em/2ex;
}

.endingText{
  padding-top: 14%;
  text-align: center;
  color: #FFFFFF;
  font-family: monospace;
  font-weight: 400;
  font-size: 100px;
}

.clickHome{
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  font-size: 28px;
}

.clickHome a{
  text-decoration: none;
  color: #FFFFFF;
}
